
<div>
  <h2>{{title}}</h2>
</div>

<!-- <app-ship-from></app-ship-from> -->
<!-- <app-order-details></app-order-details> -->


<table class="waybill">
  <thead>
    <tr>
      <th colspan="2" class="bill-header"><span>Bill of Lading </span> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><app-ship-from></app-ship-from></td>
      <td><app-order-details></app-order-details></td>
    </tr>
    
    <tr>
      <td><app-ship-to></app-ship-to></td>
      <td><app-ship-via></app-ship-via></td>
    </tr>
    <tr>
      <th colspan="2" class="bill-header"><span>Signatures </span> </th>
    </tr>
    <tr>
      <th colspan="2" ><span> Some Text about the terms and conditions of signing this paper. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem provident est explicabo, a reiciendis iste atque placeat itaque quis dolorem nihil totam id repellat porro ratione expedita, soluta laborum. Vel.</span> </th>
    </tr>



    <tr>
      <th scope="col">Shipper signature(Initials):</th>
      <td> Y.T</td>
      
    </tr>
    <tr>
      <th scope="col">Carrier signature(Initials):</th>
      <td> Y.T</td>
      
    </tr>
    <tr>
      <th scope="col">Consignee signature(Initials):</th>
      <td> Y.T</td>
      
    </tr>
    
  </tbody>
</table>
<!-- <table>
  <thead>
    <tr>
      <th colspan="2">Ship From</th>
      <th colspan="2">Order Details</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">John Lennon</td>
      
      <td>Rockstar Yan'D</td>
      <td>Rockstar Yan'D</td>
    </tr>
    <tr>
      <td>Paul McCartney</td>
      <td>Bass Accoustic</td>
      <td>Bass</td>
      <td>Bass</td>
    </tr>
    <tr>
      <td>George Harrison</td>
      <td>Lead Guitar</td>
      <td>Bass</td>
      <td>Bass</td>
    </tr>
    <tr>
      <td>Ringo Starr</td>
      <td>Drums</td>
      <td colspan="2">Bass</td>
      
    </tr>
  </tbody>
</table> -->